
  
  <nav class="navbar">
    <ul> 
      <li > 
        <a routerLink="/home-component" routerLinkActive="active">Home</a>
        <li>
          <a routerLink="/service-component" routerLinkActive="active" > service </a>
        </li>
        <li>
          <a routerLink="/portfolio-component"  routerLinkActive="active" >portfolio</a>
        </li>
        <li>
          <a routerLink="/about-component"  routerLinkActive="active" >about</a>
          
    </li>
    <li>
      <a routerLink="/contact-us-component"  routerLinkActive="active" >contact Us</a>
      
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
