<header>
    <nav>
        <span class="up" >
            
            <img [src]="imageUrl" alt="Description of the image">
            
        </span>
        <div class="left">
            Yash's portfolio
        </div>

    </nav>
</header>

<main>
    <section class="firstSection">

        <div class="leftSection">
            <!-- <div>Hi, My Name is<span class="text-purple"> Yash </div> </span> -->
            <div>Hi, My Name is <span class="text-purple">Yash </span> </div>
            <div>
                and I'm Passionate
            </div>
            <span id="element"></span>
            <!-- <div>Full Stack Developer</div> -->
            <div class="button">

                <!-- <button (click)="goToExternalSite()">Go to External Site</button> -->

                <button  class="btn"> Download Resume </button>
                <button (click)="goToGitHubProfile()" class="btn"> Visit Github </button>
                <button class="btn"> Visit Linkedin </button>
            </div>

        </div>
        <div class="rightSection">
            <!-- <img src="bg.png" alt=""> -->
            <img [src]="imageUrl1" alt="Description of the image">

        </div>
    </section>
    <hr>
</main>






<footer>
    <div class="footer">
        <div class="footer-first">
            <h3>Yash's Developer Portfolio</h3>
        </div>
        <div class="imgage">
            <!-- <img [src]="imageUrl" alt="Description of the image"> -->
        </div>
        <div class="footer-second">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Service</a></li>
                <li><a href="/">Project</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
        <div class="footer-third">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Service</a></li>
                <li><a href="/">Project</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
        <div class="footer-fourth">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Service</a></li>
                <li><a href="/">Project</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-rights">
        Copyright &#169; yashsportfolio.com | All rights reserved
    </div>
</footer>